*{
    background: rgba(0,0,0,0.02);
    box-sizing: border-box;
    position: relative;
}
input,button,textarea{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 5px 10px;
}
input{
    display: block;
    width: 100%;

}
.wrapper{
    max-width: 500px;
    margin: 0 auto;
}
.header,.navbar{
    text-align: center;
}
.navbar {
    background: #db4c3f;
    color: #f7f3ea;
    padding: 10px 0;
}
.navbar h1{
    font-size: 24px;
    margin: 0;
}
.header{
    padding: 20px 0;
    color: #555;
    font-size: 18px;
}
