<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="vendor/css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="vendor/js/vue.js"></script>
    <script src="js/mystorage.js"></script>
</head>
<body>
<div id="main">
    <div class="navbar">
        <h1>事件清单</h1>
    </div>
    <div class="header">
        认真完成每一个任务
    </div>
    <form @submit.prevent="merge" id="task-form">
        <div class="wrapper">
            <input v-model="current.title" type="text" name="" id="task-input">
            <div class="detail">
                <textarea v-model="current.desc"></textarea>
                <input type="datetime-local" v-model="current.alertAt">
            </div>
            <button type="submit">submit</button>
        </div>
    </form>
    <div class="task-list">
        <div class="wrapper">
            待完成
            <task :todo="todo" v-if="!todo.completed" v-for="(todo,index) in list"></task>
        </div>
    </div>
    <div class="task-list">
        <div class="wrapper">
            已完成
            <div v-if="todo.completed" class="item completed" v-for="(todo,index) in list">
                <button @click="toggleComplete(todo.id)">待完成</button>
                {{todo.title}}
                <button @click="remove(todo.id)">删除</button>
                <button @click="setCurrent(todo)">更新</button>
            </div>
        </div>
    </div>
</div>
<template id="task-tpl">
    <div  class="item" >
        <button @click="action('toggleComplete',todo.id)">完成</button>
        {{todo.title}}
        <button @click="action('remove',todo.id)">删除</button>
        <button @click="action('setCurrent',todo)">更新</button>
    </div>
</template>
<script src="js/main.js"></script>
</body>
</html>