<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="vendor/css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="vendor/js/vue.js"></script>
    <script src="js/mystorage.js"></script>
</head>
<body>
<div id="main">
    <div class="navbar">
        <h1>事件清单</h1>
    </div>
    <div class="header">
        认真完成每一个任务
    </div>
    <form @submit.prevent="merge" id="task-form">
        <div class="wrapper">
            <input v-model="current.title" type="text" name="" id="task-input">
            <div v-if="current.id" class="detail">
                <textarea v-model="current.desc"></textarea>
                <input type="datetime-local" v-model="current.alertAt">
                <button type="submit">submit</button>
            </div>
        </div>
    </form>
    <div class="task-list">
        <div class="wrapper">
            <div class="segment-title">待完成</div>
            <task :todo="todo" v-if="!todo.completed" v-for="(todo,index) in list"></task>
        </div>
    </div>
    <div class="task-list">
        <div class="wrapper">
            <div class="segment-title">已完成</div>
            <div v-if="todo.completed" class="item completed" v-for="(todo,index) in list">
                <div @click="toggleComplete(todo.id)" class="toggle-complete"></div>
                <span class="title">
                    {{todo.title}}
                </span>

                <button @click="remove(todo.id)">删除</button>
                <button @click="setCurrent(todo)">更新</button>
            </div>
        </div>
    </div>
</div>
<template id="task-tpl">
    <div class="item">
        <div @click="action('toggleComplete',todo.id)" class="toggle-complete"></div>
        <span class="title">
                    {{todo.title}}
        </span>
        <button @click="action('remove',todo.id)">删除</button>
        <button @click="action('setCurrent',todo)">更新</button>
        <button @click="action('toggleDetail',todo.id)">详情</button>
        <div v-if="todo.showDetail" class="detail">
            {{todo.desc || "暂无详情"}}
        </div>

    </div>
</template>
<script src="js/main.js"></script>
</body>
</html>